*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 14px;
    text-rendering: optimizelegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
