.flex-display {
    display: flex;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.grid-equal-space {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 6fr 6fr;
}
